@charset "UTF-8";
:root {
  --clr-base: #2F281C;
  --clr-base-dark: #000;
  --clr-att: #558558;
  --clr-att-hover: #426249;
  --clr-att-second: #EAA919;
  --clr-att-second-hover: #fec54a;
  --clr-border: #e5e5e5;
  --fsize: 16px;
  --lhsize: 1.55;
  --mbsize: 15px;
  --mainRadius: 24px;
  --mainRadius: 2.4rem;
  --icoSize: 24px;
  --min: 360px;
  --max: 1500px;
  --paddingContainer: 15px;
  --filter-dark: brightness(0) grayscale(1);
  --filter-white: brightness(0) invert(1);
  font-size: 10px;
}
.sl-wrap:not(.swiper-slide) ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
.fm {
  font-family: 'Montserrat', sans-serif;
}
.fm * {
  font-family: 'Montserrat', sans-serif;
}
.fu {
  font-family: 'Unbounded', sans-serif;
}
.fu * {
  font-family: 'Unbounded', sans-serif;
}
.fr {
  font-family: 'Roboto Condensed', sans-serif;
}
.fr * {
  font-family: 'Roboto Condensed', sans-serif;
}
.ftext {
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #fff;
  font-size: var(--fsize);
  line-height: var(--lhsize);
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: var(--mbsize);
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
.list-numbers {
  counter-reset: li;
  list-style: none;
}
.list-numbers.list-dark li {
  border-color: #C6D0C8;
}
.list-numbers.list-dark li:before {
  color: var(--clr-att);
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-numbers li {
  position: relative;
  padding-left: 4.71428571em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 4.14285714em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.list-numbers li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.list-numbers li:before {
  content: '0' counter(li);
  counter-increment: li;
  border-radius: 0;
  background-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.2em;
  height: auto;
  font-size: 2.14285714em;
  line-height: 1.6;
  color: var(--clr-att-second);
  font-family: 'Unbounded', sans-serif;
}
.list-numbers li:nth-child(9) ~ li:before {
  content: counter(li) '.';
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email,
.link-location {
  white-space: nowrap;
}
.link-email:before {
  background-image: url(../img/icons/link-email.svg);
}
.link-location {
  white-space: normal;
}
.link-location:before {
  background-image: url(../img/icons/link-location.svg);
}
a.link-phone:hover,
a.link-email:hover,
a.link-location:hover {
  color: var(--clr-att);
}
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  font-weight: bold;
  margin: var(--mbsize) 0;
  font-size: 18px;
  line-height: 1.35;
}
h1:last-child,
.h1-title:last-child,
h2:last-child,
.h2-title:last-child,
h3:last-child,
.h3-title:last-child,
h4:last-child,
.h4-title:last-child,
h5:last-child,
.h5-title:last-child,
h6:last-child,
.h6-title:last-child {
  margin-bottom: 0;
}
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
.h1-title,
h1 {
  font-size: 32px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Unbounded', sans-serif;
}
.h1-title *,
h1 * {
  font-family: 'Unbounded', sans-serif;
}
.h2-title,
h2 {
  font-size: 20px;
  font-family: 'Unbounded', sans-serif;
}
.h2-title *,
h2 * {
  font-family: 'Unbounded', sans-serif;
}
.h4-title {
  font-size: var(--fsize);
  line-height: var(--lhsize);
  letter-spacing: 0.48px;
  margin: 10px 0;
}
.text-dark,
.title-dark {
  color: var(--clr-base-dark);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-base,
.title-base {
  color: var(--clr-base);
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-line,
.title-line {
  white-space: nowrap;
}
.text-upper,
.title-upper {
  text-transform: uppercase;
}
.text-left,
.title-left {
  text-align: left;
}
.text-right,
.title-right {
  text-align: right;
}
.text-center,
.title-center {
  text-align: center;
}
@media (max-width: 1399px) {
  :root {
    font-size: 9.5px;
  }
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
    --fsize: 2rem;
    --lhsize: 1.35;
  }
  .h1-title,
  h1 {
    font-size: 5.2rem;
  }
  .h2-title,
  h2 {
    font-size: 3.2rem;
  }
  .h3-title,
  h3 {
    font-size: 24px;
  }
  .h4-title {
    letter-spacing: 0.6px;
  }
  .list-numbers li {
    padding-left: 6.0625em;
    margin-bottom: 15px;
    min-height: 58px;
  }
  .list-numbers li:before {
    width: 2.02083333em;
    font-size: 3em;
    line-height: 48px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1400px) {
  :root {
    --paddingContainer: 45px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scrollbar-gutter: stable;
}
html.with-fancybox body.hide-scrollbar {
  overflow: inherit !important;
  overflow-x: hidden !important;
  margin-right: 0 !important;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  padding: 8px 0;
}
.header .inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .logo-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-order: 1;
      order: 1;
}
.header .info-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  overflow: hidden;
  height: 38px;
  line-height: 1;
  -ms-flex-order: 2;
      order: 2;
}
.header .menu-inner-wrap {
  -ms-flex-order: 4;
      order: 4;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.header .menu-main-wrap {
  display: none;
  -ms-flex-order: 3;
      order: 3;
}
.header .info-wrap {
  padding: 0 10px;
}
.header .info-wrap .btn {
  text-align: left;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.header .btn,
.header .btn.button-clear {
  color: inherit;
  height: 38px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.header .btn:hover,
.header .btn.button-clear:hover {
  color: var(--clr-att-second);
}
.header .btn:hover .button-ico,
.header .btn.button-clear:hover .button-ico {
  filter: none;
}
.header .btn .button-ico,
.header .btn.button-clear .button-ico {
  filter: brightness(0) invert(1);
}
.header .btn-menu {
  color: inherit;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
}
.header .btn-menu:hover,
.header .btn-menu.active {
  color: inherit;
}
.header .btn-menu:hover .button-title,
.header .btn-menu.active .button-title {
  border-bottom: 1px solid var(--clr-att-second);
}
.header .btn-menu .button-title {
  display: inline;
}
.popup-menu-wrap .btn-popup {
  width: 34px;
  height: 34px;
}
.popup-menu-wrap .popup-content-block {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--clr-att);
  z-index: 20;
  width: 280px;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  display: none;
}
.popup-menu-wrap .menu-info-wrap {
  padding-top: 30px;
  text-align: left;
}
.popup-menu-wrap .menu-info-wrap .btn {
  font-size: 12px;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 5px 15px;
}
.popup-menu-wrap .btn-menu {
  padding: 5px 15px;
}
.footer {
  padding: 30px 0 15px 0;
  overflow: hidden;
  background: #F5F5F5;
  font-size: 14px;
  line-height: 1.5;
  color: var(--clr-base-dark);
}
.footer .info-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin: 0 -1.5rem;
}
.footer .info-wrap {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 15px;
  padding: 0 1.5rem;
  margin-bottom: 15px;
}
.footer .logo {
  color: var(--clr-att);
}
.footer .logo:hover {
  color: var(--clr-att);
}
.footer p {
  margin-bottom: 5px;
}
.footer p a:not(:hover) {
  color: inherit;
}
.logo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-size: 27px;
  line-height: 1;
  color: inherit;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.logo * {
  font-family: 'Roboto Condensed', sans-serif;
}
.logo:hover {
  color: inherit;
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
}
@media (min-width: 640px) {
  .footer .info-wrap {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 10px 0;
  }
  .header .info-inner-wrap {
    padding: 0 2rem;
  }
  .header .menu-main-wrap {
    -ms-flex: 1;
        flex: 1;
    padding-right: 3rem;
  }
  .header .menu-main-wrap .btn-menu {
    white-space: nowrap;
  }
  .header .menu-main-wrap .menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -1.5rem;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  .header .menu-main-wrap .menu li {
    padding: 0 1.5rem;
    margin-bottom: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header .info-wrap {
    padding: 0 2rem;
  }
  .footer {
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    line-height: 1.5;
  }
  .footer .info-wrap {
    width: 33.33%;
  }
  .footer p {
    margin-bottom: 10px;
  }
  .footer .logo {
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .footer .info-wrap {
    width: 34%;
  }
  .footer .info-wrap + .info-wrap {
    width: 25%;
  }
  .footer .info-wrap + .info-wrap + .info-wrap {
    width: auto;
    -ms-flex: 1;
        flex: 1;
  }
  .footer .info-wrap + .info-wrap + .info-wrap + .info-wrap {
    width: auto;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
}
@media (min-width: 1400px) {
  .header .info-inner-wrap {
    padding: 0 0 0 2rem;
  }
  .header .info-wrap {
    padding: 0 2rem;
  }
  .header .menu-main-wrap {
    display: block;
    -ms-flex: 1;
        flex: 1;
  }
  .header .info-inner-wrap {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-total {
  text-align: center;
  display: block;
  position: relative;
  font-size: var(--fsize);
  line-height: var(--lhsize);
}
.item-tile-total .tile-total {
  font-size: 2em;
  line-height: 1.1;
  display: block;
  margin: 0 0 10px 0;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Unbounded', sans-serif;
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item-tile-total .tile-total * {
  font-family: 'Unbounded', sans-serif;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.elm-photo.photo-zoom:after,
.tile-photo.photo-zoom:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--clr-att) url(../img/icons/zoom.svg);
  background-size: 24px auto;
  transition: all ease 0.2s;
}
.elm-photo.photo-zoom:hover:after,
.tile-photo.photo-zoom:hover:after {
  opacity: 1;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
.elm-sticker,
.tile-sticker {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #000;
  height: 27px;
  line-height: 27px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media (min-width: 768px) {
  .item-tile-total {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    text-align: left;
  }
  .item-tile-total .tile-total {
    font-size: 2.6em;
    margin: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 10px 0 0;
    white-space: nowrap;
  }
  .item-tile-total .tile-title {
    -ms-flex: 1;
        flex: 1;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.about-box {
  margin-bottom: 30px;
  position: relative;
}
.about-box .items-wrap {
  margin: 0 -15px 5px -15px;
  margin: 0 -1.5rem 5px -1.5rem;
  font-size: 14px;
  line-height: 1.35;
}
.about-box .item-wrap {
  padding: 0 15px;
  padding: 0 1.5rem;
  margin-bottom: 10px;
}
.about-box .title-att {
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-box .list-numbers {
  font-size: 14px;
  line-height: 1.55;
}
.form-order-box {
  margin-bottom: 15px;
}
.form-order-box .title-inner-wrap {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.form-order-box .frm-section-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  border-top: 1px solid var(--clr-border);
}
.form-order-box .frm-section-title {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35;
  margin: 0 0 15px 0;
}
.form-order-box .frm-section-title.title-att {
  color: var(--clr-base);
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-order-box .frm-row-submit .field-submit {
  margin-bottom: 0;
}
.form-order-box .frm-row-submit .btn {
  width: 100%;
}
.form-order-box .frm-row-submit .frm-select {
  margin-bottom: 5px;
}
.form-order-box .frm-row-submit .frm-select:last-child {
  margin-bottom: 0;
}
.lead-box {
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  min-height: 100dvh;
  padding: 200px 0 0 0;
  font-size: 14px;
  line-height: 1.35;
  color: #fff;
}
.lead-box .bg-full-wrap {
  background: #000;
}
.lead-box .bg-full-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, #153D00 0%, #1E5400 13.33%, rgba(29, 43, 18, 0));
  height: 153px;
}
.lead-box .box-inner-wrap {
  position: relative;
  z-index: 2;
  padding: 30px 0;
}
.lead-box .box-inner-wrap .bg-full-wrap {
  background: rgba(21, 59, 0, 0.85);
}
.lead-box .box-inner-wrap .bg-full-wrap:before {
  display: none;
}
.lead-box .actions-wrap {
  margin: 0 -12px 5px -12px;
  margin: 0 -1.2rem 5px -1.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lead-box .action-wrap {
  padding: 0 12px;
  padding: 0 1.2rem;
  margin-bottom: 5px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lead-box .btn {
  width: 100%;
  height: 42px;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.lead-box .h1-title {
  margin: 0 0 15px 0;
}
.bg-full-wrap {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100dvw;
  min-width: var(--min);
  transform: translateX(-50%);
  overflow: hidden;
}
.more-inner-wrap {
  text-align: center;
  margin-top: 15px;
}
.more-inner-wrap .btn {
  width: 100%;
}
@media (max-width: 767px) {
  .form-order-box .h1-title .title-small {
    display: inline;
    font-size: 0.75em;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .about-box {
    margin-bottom: 6rem;
  }
  .about-box .item-wrap {
    width: 33.33%;
  }
  .about-box .item-wrap:has(.item-tile-total) {
    width: 50%;
  }
  .about-box .items-wrap {
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .about-box .items-wrap:has(.item-tile-total) {
    -ms-flex-align: center;
        align-items: center;
  }
  .about-box .h3-title {
    margin-top: 3rem;
  }
  .about-box .h3-title:first-child {
    margin-top: 0;
  }
  .about-box .h1-title {
    margin-bottom: 6rem;
  }
  .about-box .list-numbers {
    margin-bottom: 3rem;
    font-size: 16px;
  }
  .about-box .list-numbers li {
    break-inside: avoid-column;
    padding-left: 12rem;
    width: 100%;
  }
  .about-box .list-numbers li:before {
    font-size: 4.8rem;
    line-height: 1;
    top: 0;
    transform: none;
  }
  .more-inner-wrap {
    margin-top: 6rem;
  }
  .more-inner-wrap .btn {
    width: auto;
    padding: 0 3rem;
  }
  .form-order-box {
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1155px;
    padding-left: 0;
    padding-right: 0;
  }
  .form-order-box .row-line .frm-field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-right: 15px;
  }
  .form-order-box .row-line .frm-field + .frm-field {
    padding-right: 8px;
    padding-left: 15px;
  }
  .form-order-box .row-line .frm-field .field-title {
    margin: 0;
    padding: 0 15px 0 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .form-order-box .row-line .frm-field .field-content {
    -ms-flex: 1;
        flex: 1;
  }
  .form-order-box .frm-section-wrap {
    padding-top: 30px;
    padding-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .form-order-box .frm-section-wrap:has(+.frm-row-submit) {
    padding-bottom: 20px;
  }
  .form-order-box .frm-row-submit .frm-field {
    margin-bottom: 0;
    width: auto;
  }
  .form-order-box .frm-row-submit .field-info {
    -ms-flex: 1;
        flex: 1;
  }
  .form-order-box .frm-row-submit .field-submit {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .form-order-box .frm-row-submit .btn {
    padding: 0 9rem;
  }
  .form-order-box .title-inner-wrap {
    margin-bottom: 6rem;
  }
  .form-order-box .frm-section-title {
    font-size: 3.4rem;
    line-height: 1.35;
    margin-bottom: 15px;
  }
  .form-order-box .field-half {
    width: 50%;
  }
  .form-order-box .h1-title {
    margin-bottom: 6rem;
  }
  .form-order-box .h1-title:last-child {
    margin-bottom: 0;
  }
  .form-order-box .h1-title .title-small {
    font-weight: 400;
  }
  .lead-box {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
  .lead-box .box-inner-wrap {
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0;
  }
  .lead-box .title-inner-wrap {
    width: 45%;
    max-width: 508px;
    padding: 0 3rem 0 0;
    border-right: 1px solid #fff;
    z-index: 2;
    position: relative;
    margin: 0;
  }
  .lead-box .info-inner-wrap {
    padding: 0 0 0 3rem;
    -ms-flex: 1;
        flex: 1;
    margin: 0;
  }
  .lead-box .action-wrap {
    width: auto;
    -ms-flex: 1;
        flex: 1;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .lead-box .action-wrap .btn {
    padding: 0 15px;
  }
  .lead-box .list-numbers {
    font-size: 16px;
    line-height: 1.55;
  }
  .lead-box .h2-title {
    margin: 3rem 0;
  }
  .lead-box .h1-title {
    margin-bottom: 4.8rem;
  }
}
@media (min-width: 1024px) {
  .about-box .list-numbers {
    columns: 2;
    column-gap: 3rem;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
[placeholder]::-webkit-input-placeholder {
  color: var(--clr-base);
}
[placeholder]:-moz-placeholder {
  color: var(--clr-base);
}
[placeholder]::-moz-placeholder {
  color: var(--clr-base);
}
[placeholder]:-ms-input-placeholder {
  color: var(--clr-base);
}
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
  height: 49px;
  border: 1.34px solid var(--clr-base);
  border-radius: 5px;
  padding: 0 14px;
  font-size: 16px;
  line-height: 1.55;
  color: var(--clr-base);
}
select.form-input {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 40px;
  background-image: url(../img/icons/arrow.svg);
  background-position: right 10px center;
  background-size: 16px auto;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
  cursor: pointer;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: var(--clr-base);
}
.btn {
  transition: all ease 0.2s;
  height: 62px;
  border-radius: 15px;
  border: 1px solid var(--clr-att-second);
  background-color: var(--clr-att-second);
  font-size: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.35;
  padding: 0 20px;
  padding: 0 2rem;
  color: #fff;
}
.btn.button-att {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.btn.button-att:hover {
  background-color: var(--clr-att-hover);
  border-color: var(--clr-att-hover);
}
.btn:hover {
  background: var(--clr-att-second-hover);
  border-color: var(--clr-att-second-hover);
  color: #fff;
}
.btn.button-clear {
  width: auto;
  height: auto;
  line-height: 24px;
  color: inherit;
  white-space: normal;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  min-width: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-weight: inherit;
}
.btn.button-clear:hover {
  border: none;
  background: none;
  color: var(--clr-att);
}
.btn.button-clear .button-ico {
  filter: none;
}
.btn.button-border {
  background-color: transparent;
  color: var(--clr-att-second);
}
.btn.button-border:hover {
  background-color: var(--clr-att-second);
  border-color: var(--clr-att-second);
  color: #fff;
}
.btn.button-border.button-att {
  background-color: transparent;
}
.btn.button-border.button-att:not(:hover) {
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--clr-att);
}
.btn.button-border.button-att:hover {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
  color: #fff;
}
.btn .button-ico {
  width: var(--icoSize);
  height: var(--icoSize);
  margin: 0 10px;
  transition: all ease 0.2s;
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn .button-active-add .button-title:before,
.btn .button-active-toggle .button-title:before {
  content: attr(data-title);
}
.btn .button-active-add .button-ico-active,
.btn .button-active-toggle .button-ico-active {
  display: none;
}
.btn .button-active-add.active .button-title:before,
.btn .button-active-toggle.active .button-title:before {
  content: attr(data-title-active);
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico {
  display: none;
}
.btn .button-active-add.active:has(.button-ico-active) .button-ico-active,
.btn .button-active-toggle.active:has(.button-ico-active) .button-ico-active {
  display: block;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: var(--icoSize);
  max-height: var(--icoSize);
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--icoSize) auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.png);
}
.btn-action-ico.ico-arrow.swiper-button-disabled {
  opacity: 0.5;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:before {
  background-image: url(../img/icons/menu.svg);
  filter: brightness(0) invert(1);
}
.btn-action-ico.ico-menu:after {
  filter: brightness(0) invert(1);
}
.btn-action-ico.ico-close:before {
  background-image: url(../img/icons/close.svg);
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-ico.button-active-close:after,
.btn-action-ico.button-active-toggle:after {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:before,
.btn-action-ico.button-active-toggle.active:before {
  opacity: 0;
}
.btn-action-ico.button-active-close.active:after,
.btn-action-ico.button-active-toggle.active:after {
  opacity: 1;
}
.btn-action-ico.button-active-close:after {
  background-image: url(../img/icons/close.svg);
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
@media (min-width: 1024px) {
  select.form-input {
    background-position: right 15px center;
  }
  .form-input {
    height: 64px;
    padding: 0 19px;
  }
  .btn {
    height: 8rem;
    font-size: 3rem;
    letter-spacing: 0.9px;
    padding: 0 3rem;
  }
  .btn.button-medium {
    height: 6.7rem;
    font-size: 2rem;
    letter-spacing: 0.6px;
  }
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
  margin: 0 -8px;
}
.frm-field {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 8px;
}
.field-title {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.field-title.title-small {
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 10px;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
.frm-select label:after {
  opacity: 0;
}
.frm-select {
  font-size: 14px;
  line-height: 19px;
}
.frm-select input[type="radio"] ~ label:before {
  border-radius: 50%;
}
.frm-select input[type="radio"] ~ label:after {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  border: 1px solid var(--clr-att);
  background: linear-gradient(180deg, #558558 0%, #426249 100%);
  border-radius: 50%;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  min-height: 24px;
  padding: 2px 0 0 34px;
}
.frm-select label:before,
.frm-select label:after {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid var(--clr-att);
  top: 12px;
  left: 12px;
  margin: -12px 0 0 -12px;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/check.svg) center / 24px auto no-repeat;
  opacity: 0;
}
.frm-select a {
  color: inherit;
}
.frm-select a:hover {
  color: var(--clr-att);
}
@media (min-width: 1024px) {
  .frm-select {
    line-height: 24px;
    font-size: 16px;
  }
  .frm-select label {
    padding-top: 0;
  }
  .field-title {
    font-size: 2rem;
    letter-spacing: 0.6px;
  }
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
table:has(col.text-left:nth-child(1)) th:nth-child(1),
table:has(col.text-left:nth-child(1)) td:nth-child(1) {
  text-align: left;
}
table:has(col.text-right:nth-child(1)) th:nth-child(1),
table:has(col.text-right:nth-child(1)) td:nth-child(1) {
  text-align: right;
}
table:has(col.text-center:nth-child(1)) th:nth-child(1),
table:has(col.text-center:nth-child(1)) td:nth-child(1) {
  text-align: center;
}
table:has(col.text-left:nth-child(2)) th:nth-child(2),
table:has(col.text-left:nth-child(2)) td:nth-child(2) {
  text-align: left;
}
table:has(col.text-right:nth-child(2)) th:nth-child(2),
table:has(col.text-right:nth-child(2)) td:nth-child(2) {
  text-align: right;
}
table:has(col.text-center:nth-child(2)) th:nth-child(2),
table:has(col.text-center:nth-child(2)) td:nth-child(2) {
  text-align: center;
}
table:has(col.text-left:nth-child(3)) th:nth-child(3),
table:has(col.text-left:nth-child(3)) td:nth-child(3) {
  text-align: left;
}
table:has(col.text-right:nth-child(3)) th:nth-child(3),
table:has(col.text-right:nth-child(3)) td:nth-child(3) {
  text-align: right;
}
table:has(col.text-center:nth-child(3)) th:nth-child(3),
table:has(col.text-center:nth-child(3)) td:nth-child(3) {
  text-align: center;
}
table:has(col.text-left:nth-child(4)) th:nth-child(4),
table:has(col.text-left:nth-child(4)) td:nth-child(4) {
  text-align: left;
}
table:has(col.text-right:nth-child(4)) th:nth-child(4),
table:has(col.text-right:nth-child(4)) td:nth-child(4) {
  text-align: right;
}
table:has(col.text-center:nth-child(4)) th:nth-child(4),
table:has(col.text-center:nth-child(4)) td:nth-child(4) {
  text-align: center;
}
table:has(col.text-left:nth-child(5)) th:nth-child(5),
table:has(col.text-left:nth-child(5)) td:nth-child(5) {
  text-align: left;
}
table:has(col.text-right:nth-child(5)) th:nth-child(5),
table:has(col.text-right:nth-child(5)) td:nth-child(5) {
  text-align: right;
}
table:has(col.text-center:nth-child(5)) th:nth-child(5),
table:has(col.text-center:nth-child(5)) td:nth-child(5) {
  text-align: center;
}
table:has(col.text-left:nth-child(6)) th:nth-child(6),
table:has(col.text-left:nth-child(6)) td:nth-child(6) {
  text-align: left;
}
table:has(col.text-right:nth-child(6)) th:nth-child(6),
table:has(col.text-right:nth-child(6)) td:nth-child(6) {
  text-align: right;
}
table:has(col.text-center:nth-child(6)) th:nth-child(6),
table:has(col.text-center:nth-child(6)) td:nth-child(6) {
  text-align: center;
}
table:has(col.text-left:nth-child(7)) th:nth-child(7),
table:has(col.text-left:nth-child(7)) td:nth-child(7) {
  text-align: left;
}
table:has(col.text-right:nth-child(7)) th:nth-child(7),
table:has(col.text-right:nth-child(7)) td:nth-child(7) {
  text-align: right;
}
table:has(col.text-center:nth-child(7)) th:nth-child(7),
table:has(col.text-center:nth-child(7)) td:nth-child(7) {
  text-align: center;
}
table:has(col.text-left:nth-child(8)) th:nth-child(8),
table:has(col.text-left:nth-child(8)) td:nth-child(8) {
  text-align: left;
}
table:has(col.text-right:nth-child(8)) th:nth-child(8),
table:has(col.text-right:nth-child(8)) td:nth-child(8) {
  text-align: right;
}
table:has(col.text-center:nth-child(8)) th:nth-child(8),
table:has(col.text-center:nth-child(8)) td:nth-child(8) {
  text-align: center;
}
table:has(col.text-left:nth-child(9)) th:nth-child(9),
table:has(col.text-left:nth-child(9)) td:nth-child(9) {
  text-align: left;
}
table:has(col.text-right:nth-child(9)) th:nth-child(9),
table:has(col.text-right:nth-child(9)) td:nth-child(9) {
  text-align: right;
}
table:has(col.text-center:nth-child(9)) th:nth-child(9),
table:has(col.text-center:nth-child(9)) td:nth-child(9) {
  text-align: center;
}
table:has(col.text-left:nth-child(10)) th:nth-child(10),
table:has(col.text-left:nth-child(10)) td:nth-child(10) {
  text-align: left;
}
table:has(col.text-right:nth-child(10)) th:nth-child(10),
table:has(col.text-right:nth-child(10)) td:nth-child(10) {
  text-align: right;
}
table:has(col.text-center:nth-child(10)) th:nth-child(10),
table:has(col.text-center:nth-child(10)) td:nth-child(10) {
  text-align: center;
}
table:has(col.text-left:nth-child(11)) th:nth-child(11),
table:has(col.text-left:nth-child(11)) td:nth-child(11) {
  text-align: left;
}
table:has(col.text-right:nth-child(11)) th:nth-child(11),
table:has(col.text-right:nth-child(11)) td:nth-child(11) {
  text-align: right;
}
table:has(col.text-center:nth-child(11)) th:nth-child(11),
table:has(col.text-center:nth-child(11)) td:nth-child(11) {
  text-align: center;
}
table:has(col.text-left:nth-child(12)) th:nth-child(12),
table:has(col.text-left:nth-child(12)) td:nth-child(12) {
  text-align: left;
}
table:has(col.text-right:nth-child(12)) th:nth-child(12),
table:has(col.text-right:nth-child(12)) td:nth-child(12) {
  text-align: right;
}
table:has(col.text-center:nth-child(12)) th:nth-child(12),
table:has(col.text-center:nth-child(12)) td:nth-child(12) {
  text-align: center;
}
table:has(col.text-left:nth-child(13)) th:nth-child(13),
table:has(col.text-left:nth-child(13)) td:nth-child(13) {
  text-align: left;
}
table:has(col.text-right:nth-child(13)) th:nth-child(13),
table:has(col.text-right:nth-child(13)) td:nth-child(13) {
  text-align: right;
}
table:has(col.text-center:nth-child(13)) th:nth-child(13),
table:has(col.text-center:nth-child(13)) td:nth-child(13) {
  text-align: center;
}
table:has(col.text-left:nth-child(14)) th:nth-child(14),
table:has(col.text-left:nth-child(14)) td:nth-child(14) {
  text-align: left;
}
table:has(col.text-right:nth-child(14)) th:nth-child(14),
table:has(col.text-right:nth-child(14)) td:nth-child(14) {
  text-align: right;
}
table:has(col.text-center:nth-child(14)) th:nth-child(14),
table:has(col.text-center:nth-child(14)) td:nth-child(14) {
  text-align: center;
}
table:has(col.text-left:nth-child(15)) th:nth-child(15),
table:has(col.text-left:nth-child(15)) td:nth-child(15) {
  text-align: left;
}
table:has(col.text-right:nth-child(15)) th:nth-child(15),
table:has(col.text-right:nth-child(15)) td:nth-child(15) {
  text-align: right;
}
table:has(col.text-center:nth-child(15)) th:nth-child(15),
table:has(col.text-center:nth-child(15)) td:nth-child(15) {
  text-align: center;
}
table:has(col.text-left:nth-child(16)) th:nth-child(16),
table:has(col.text-left:nth-child(16)) td:nth-child(16) {
  text-align: left;
}
table:has(col.text-right:nth-child(16)) th:nth-child(16),
table:has(col.text-right:nth-child(16)) td:nth-child(16) {
  text-align: right;
}
table:has(col.text-center:nth-child(16)) th:nth-child(16),
table:has(col.text-center:nth-child(16)) td:nth-child(16) {
  text-align: center;
}
table:has(col.text-left:nth-child(17)) th:nth-child(17),
table:has(col.text-left:nth-child(17)) td:nth-child(17) {
  text-align: left;
}
table:has(col.text-right:nth-child(17)) th:nth-child(17),
table:has(col.text-right:nth-child(17)) td:nth-child(17) {
  text-align: right;
}
table:has(col.text-center:nth-child(17)) th:nth-child(17),
table:has(col.text-center:nth-child(17)) td:nth-child(17) {
  text-align: center;
}
table:has(col.text-left:nth-child(18)) th:nth-child(18),
table:has(col.text-left:nth-child(18)) td:nth-child(18) {
  text-align: left;
}
table:has(col.text-right:nth-child(18)) th:nth-child(18),
table:has(col.text-right:nth-child(18)) td:nth-child(18) {
  text-align: right;
}
table:has(col.text-center:nth-child(18)) th:nth-child(18),
table:has(col.text-center:nth-child(18)) td:nth-child(18) {
  text-align: center;
}
table:has(col.text-left:nth-child(19)) th:nth-child(19),
table:has(col.text-left:nth-child(19)) td:nth-child(19) {
  text-align: left;
}
table:has(col.text-right:nth-child(19)) th:nth-child(19),
table:has(col.text-right:nth-child(19)) td:nth-child(19) {
  text-align: right;
}
table:has(col.text-center:nth-child(19)) th:nth-child(19),
table:has(col.text-center:nth-child(19)) td:nth-child(19) {
  text-align: center;
}
table:has(col.text-left:nth-child(20)) th:nth-child(20),
table:has(col.text-left:nth-child(20)) td:nth-child(20) {
  text-align: left;
}
table:has(col.text-right:nth-child(20)) th:nth-child(20),
table:has(col.text-right:nth-child(20)) td:nth-child(20) {
  text-align: right;
}
table:has(col.text-center:nth-child(20)) th:nth-child(20),
table:has(col.text-center:nth-child(20)) td:nth-child(20) {
  text-align: center;
}
table:has(col.text-left:nth-child(21)) th:nth-child(21),
table:has(col.text-left:nth-child(21)) td:nth-child(21) {
  text-align: left;
}
table:has(col.text-right:nth-child(21)) th:nth-child(21),
table:has(col.text-right:nth-child(21)) td:nth-child(21) {
  text-align: right;
}
table:has(col.text-center:nth-child(21)) th:nth-child(21),
table:has(col.text-center:nth-child(21)) td:nth-child(21) {
  text-align: center;
}
table:has(col.text-left:nth-child(22)) th:nth-child(22),
table:has(col.text-left:nth-child(22)) td:nth-child(22) {
  text-align: left;
}
table:has(col.text-right:nth-child(22)) th:nth-child(22),
table:has(col.text-right:nth-child(22)) td:nth-child(22) {
  text-align: right;
}
table:has(col.text-center:nth-child(22)) th:nth-child(22),
table:has(col.text-center:nth-child(22)) td:nth-child(22) {
  text-align: center;
}
table:has(col.text-left:nth-child(23)) th:nth-child(23),
table:has(col.text-left:nth-child(23)) td:nth-child(23) {
  text-align: left;
}
table:has(col.text-right:nth-child(23)) th:nth-child(23),
table:has(col.text-right:nth-child(23)) td:nth-child(23) {
  text-align: right;
}
table:has(col.text-center:nth-child(23)) th:nth-child(23),
table:has(col.text-center:nth-child(23)) td:nth-child(23) {
  text-align: center;
}
table:has(col.text-left:nth-child(24)) th:nth-child(24),
table:has(col.text-left:nth-child(24)) td:nth-child(24) {
  text-align: left;
}
table:has(col.text-right:nth-child(24)) th:nth-child(24),
table:has(col.text-right:nth-child(24)) td:nth-child(24) {
  text-align: right;
}
table:has(col.text-center:nth-child(24)) th:nth-child(24),
table:has(col.text-center:nth-child(24)) td:nth-child(24) {
  text-align: center;
}
table:has(col.text-left:nth-child(25)) th:nth-child(25),
table:has(col.text-left:nth-child(25)) td:nth-child(25) {
  text-align: left;
}
table:has(col.text-right:nth-child(25)) th:nth-child(25),
table:has(col.text-right:nth-child(25)) td:nth-child(25) {
  text-align: right;
}
table:has(col.text-center:nth-child(25)) th:nth-child(25),
table:has(col.text-center:nth-child(25)) td:nth-child(25) {
  text-align: center;
}
table:has(col.text-left:nth-child(26)) th:nth-child(26),
table:has(col.text-left:nth-child(26)) td:nth-child(26) {
  text-align: left;
}
table:has(col.text-right:nth-child(26)) th:nth-child(26),
table:has(col.text-right:nth-child(26)) td:nth-child(26) {
  text-align: right;
}
table:has(col.text-center:nth-child(26)) th:nth-child(26),
table:has(col.text-center:nth-child(26)) td:nth-child(26) {
  text-align: center;
}
table:has(col.text-left:nth-child(27)) th:nth-child(27),
table:has(col.text-left:nth-child(27)) td:nth-child(27) {
  text-align: left;
}
table:has(col.text-right:nth-child(27)) th:nth-child(27),
table:has(col.text-right:nth-child(27)) td:nth-child(27) {
  text-align: right;
}
table:has(col.text-center:nth-child(27)) th:nth-child(27),
table:has(col.text-center:nth-child(27)) td:nth-child(27) {
  text-align: center;
}
table:has(col.text-left:nth-child(28)) th:nth-child(28),
table:has(col.text-left:nth-child(28)) td:nth-child(28) {
  text-align: left;
}
table:has(col.text-right:nth-child(28)) th:nth-child(28),
table:has(col.text-right:nth-child(28)) td:nth-child(28) {
  text-align: right;
}
table:has(col.text-center:nth-child(28)) th:nth-child(28),
table:has(col.text-center:nth-child(28)) td:nth-child(28) {
  text-align: center;
}
table:has(col.text-left:nth-child(29)) th:nth-child(29),
table:has(col.text-left:nth-child(29)) td:nth-child(29) {
  text-align: left;
}
table:has(col.text-right:nth-child(29)) th:nth-child(29),
table:has(col.text-right:nth-child(29)) td:nth-child(29) {
  text-align: right;
}
table:has(col.text-center:nth-child(29)) th:nth-child(29),
table:has(col.text-center:nth-child(29)) td:nth-child(29) {
  text-align: center;
}
table:has(col.text-left:nth-child(30)) th:nth-child(30),
table:has(col.text-left:nth-child(30)) td:nth-child(30) {
  text-align: left;
}
table:has(col.text-right:nth-child(30)) th:nth-child(30),
table:has(col.text-right:nth-child(30)) td:nth-child(30) {
  text-align: right;
}
table:has(col.text-center:nth-child(30)) th:nth-child(30),
table:has(col.text-center:nth-child(30)) td:nth-child(30) {
  text-align: center;
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.items-wrap,
.tile-items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.item-wrap,
.tile-item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 

add to head box

<style>
	.tile-many-lines, .text-many-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>

 */
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.sl-wrap.swiper-slide {
  height: auto;
}
.swiper,
.swiper-wrapper {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: auto;
  bottom: auto;
}
.slider-pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -5px -5px -5px;
  position: relative;
  width: auto;
}
.slider-pagination .swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--clr-light);
  opacity: 1;
  transition: all ease 0.2s;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 5px 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-pagination .swiper-pagination-bullet:hover,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.is-modern .f-thumbs__slide__button {
  -webkit-clip-path: inherit !important;
          clip-path: inherit !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Bold.woff2') format('woff2'), url('../fonts/Unbounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Regular.woff2') format('woff2'), url('../fonts/Unbounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'), url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'), url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
