
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<div class="info-wrap wrap01">
				<a href="" class="logo">Zembest</a>
				<p><a href="">Политика конфиденциальности</a></p>
				<p><a href="">Публичная оферта подбора земельного участка</a></p>
				<p>© 2010 — 2025. Zembest </p>
			</div>
			<div class="info-wrap wrap02">
				<p>Шилкин Дмитрий Николаевич</p>
				<p>ИНН&nbsp;771976911668, ОГРНИП&nbsp;318774600673222</p>
				<p>Адрес: 143964, Чеченская Республика, г.&nbsp;Грозный, ул.&nbsp;Ашхабадская, д.&nbsp;34, кв.&nbsp;3</p>
			</div>
			<div class="info-wrap wrap03">
				<p>р/с&nbsp;40802810100001109078</p>
				<p>к/с&nbsp;30101810145250000974</p>
				<p>АО&nbsp;«Тинькофф&nbsp;Банк»</p>
				<p>БИК&nbsp;044525974</p>
			</div>
			<div class="info-wrap wrap04">
				<p>Телефон:  <a href="tel:89852261223" class="link-phone">+7 (985) 226-12-23</a></p>
				<p>Email: <a href="mailto:shilkind@gmail.com">shilkind@gmail.com</a></p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->