<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">Zembest</a>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<a href="" class="btn button-clear">
					<div class="button-ico">
						<img src="./img/icons/phone.svg" alt="">
					</div>
					<div class="button-title">+7 (495) 226-12-23 </div>
				</a>
			</div>
			<div class="info-wrap">
				<a href="" class="btn button-clear">
					<div class="button-ico">
						<img src="./img/icons/email.svg" alt="">
					</div>
					<div class="button-title">info@zembest.ru</div>
				</a>
			</div>
			<div class="info-wrap">
				<a href="" class="btn button-clear">
					<div class="button-ico">
						<img src="./img/icons/location.svg" alt="">
					</div>
					<div class="button-title">129085, г. Москва, <br>Проспект мира, д. 101, стр. 1, офис 903</div>
				</a>
			</div>
		</div>
		<div class="menu-main-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu active">
						<div class="button-title">Что входит в услуги</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Оформить заявку</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">О компании</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-main">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Что входит в услуги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Оформить заявку</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-inner">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Пункт меню</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Пункт меню</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Пункт меню</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-info-wrap">
					<div class="menu-info">
						<a href="" class="btn button-clear">
							<div class="button-title">+7 (495) 226-12-23 </div>
						</a>
					</div>
					<div class="menu-info">
						<a href="" class="btn button-clear">
							<div class="button-title">info@zembest.ru</div>
						</a>
					</div>
					<div class="menu-info">
						<a href="" class="btn button-clear">
							<div class="button-title">129085, г. Москва, <br>Проспект мира, д. 101, стр. 1, офис 903</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->